# Archivo de asignación de pines para el módulo decoder4bits

## Asignación de pines de entrada (D y E)
NET "D[0]" LOC = "P11";  
NET "D[1]" LOC = "L3";   
NET "D[2]" LOC = "K3";    
NET "D[3]" LOC = "B4";    

NET "E[0]" LOC = "E2";   
NET "E[1]" LOC = "N3";   

## Asignación de pines de salida (SEG1, SEG2, DISPLAY, A)
NET "SEG[0]" LOC = "L14"; # SEG1-0 a G4
NET "SEG[1]" LOC = "H12"; # SEG1-1 a H4
NET "SEG[2]" LOC = "N14"; # SEG1-2 a J4
NET "SEG[3]" LOC = "N11"; # SEG1-3 a K4
NET "SEG[4]" LOC = "P12"; # SEG1-4 a L4
NET "SEG[5]" LOC = "L13"; # SEG1-5 a M4
NET "SEG[6]" LOC = "N13"; # SEG1-6 a N4

NET "DISPLAY[0]" LOC = "K14";  # DISPLAY-0 a A5
NET "DISPLAY[1]" LOC = "M13";  # DISPLAY-1 a B5
NET "DISPLAY[2]" LOC = "J12";  # DISPLAY-2 a C5
NET "DISPLAY[3]" LOC = "F12";  # DISPLAY-3 a D5

NET "A[0]" LOC = "M5";   # LED A0 a F6
NET "A[1]" LOC = "M11";   # LED A1 a G6
NET "A[2]" LOC = "P7";   # LED A2 a H6
NET "A[3]" LOC = "P6";   # LED A3 a J6
NET "A[4]" LOC = "N5";   # LED A4 a K6
NET "A[5]" LOC = "N4";   # LED A5 a L6
NET "A[6]" LOC = "P4";   # LED A6 a M6
NET "A[7]" LOC = "G1";   # LED A7 a N6

