# Asignación de pines para el módulo SumResBIN

# Entradas del módulo
NET "a<0>" LOC = "P11";  # Pin físico para a(0)
NET "a<1>" LOC = "L3";  # Pin físico para a(1)
NET "a<2>" LOC = "K3";  # Pin físico para a(2)
NET "a<3>" LOC = "B4";  # Pin físico para a(3)

NET "b<0>" LOC = "G3";  # Pin físico para b(0)
NET "b<1>" LOC = "F3";  # Pin físico para b(1)
NET "b<2>" LOC = "E2";  # Pin físico para b(2)
NET "b<3>" LOC = "N3";  # Pin físico para b(3)

NET "d" LOC = "G12";     # boton de resta

# Salida de LEDS
NET "c<0>" LOC = "M5"; # Pin físico para c(0)
NET "c<1>" LOC = "M11"; # Pin físico para c(1)
NET "c<2>" LOC = "P7"; # Pin físico para c(2)
NET "c<3>" LOC = "P6"; # Pin físico para c(3)
NET "c<4>" LOC = "N5"; # Pin físico para c(4)
